// Color Palette 
$primary: #0C1117;
$secondary: #777777;
$background: #fffcea;

$phone-width: 100px;
$bridge-width: 600px;
$tablet-width: 800px;
$desktop-width: 1010px;

@mixin gradient-background {
  background: #0c1117;
  background: -moz-linear-gradient(top, #0c1117 0%, #0c1117 36%, #18191c 74%, #18191c 100%);
  background: -webkit-linear-gradient(top, #0c1117 0%, #0c1117 36%, #18191c 74%, #18191c 100%);
  background: linear-gradient(to bottom, #0c1117 0%, #0c1117 36%, #18191c 74%, #18191c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1117', endColorstr='#18191c', GradientType=0);
}

@import 'style/App.scss';

/* Header */
header {
  &.homepage {
      height: 800px;
  }
  
  video {
      width: 100%;
  }
  
  #logo {
      display: inline-block;
      text-transform: uppercase;
      padding: 15px 50px;
      float: left;
      color: #DCD0C0 !important;
      font-family: 'Roboto Slab', serif;
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
  
      &:before {
          background: url("https://www.uncensored.tech/assets/tech_uncensored_logo_bg.png") bottom/cover;
          content: " ";
          display: inline-block;
          position: relative;
          vertical-align: text-bottom; 
          width: 50px;
          height: 50px;
      }
  }
  
  nav {
    //right: calc(20%);
    line-height: 5.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.5rem;
    
    .item {
        display: inline-block;
        padding: 0 20px;
        font-style: italic;
        position: relative;
        cursor: pointer;
        a {
            color: inherit;
            text-decoration: none;
        }
    
    }
  }
  
  
  #banner-cta {
      color: #C0B283;
      position: absolute;
      text-align: left;
      text-transform: uppercase;
      top: 50%;
      margin-top: -40px;
      width: 100%;
      padding-left: 12%;
  
      .title {
          font-size: 40px;
          font-weight: bold;
  
          span {
              display: block;
          }
      }
  
      .desc {
          font-size: 22px;
          margin-top: 20px;
      }
  
  
      .btn {
          padding: 15px;
          text-align: center;
          background: coral;
          color: white;
          margin-top: 20px;
      }
  
      .overlay {
          display: none;
      }
  
  } // #banner-cta        
}

/* Latest Posts */
#latestPosts {
  .post {
    .postTitle {

    }
    .postBody {
      
    }
  }
}

/* Footer */
#footer {
 
 #social-wrapper {
   background: #2c2f33;
   
   .desc {
      text-align: center;
      padding: 20px;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 0.7rem;
      font-family: 'Roboto';
   }
 
   .social {
      padding: 20px 0 0 0;
      margin: 0;
      display: flex;
      justify-content: center;
      
      div {
        border-radius: 100%;
        border-style: none;
        display: inline-block;
        width: 3.0rem;
        height: 3.0rem;
        margin: 0 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;     
        
        &.facebook { background-image: url("https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/fb.png");  }
        &.twitter {  background-image: url("https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/tw.png"); }
        &.youtube { background-image: url("https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/yt.png"); }
        &.github { background-image: url("https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/gh.png"); }
        &.email { background-image: url("https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/email.png"); }
      }
   }
 } 
  
}


/*
@import 'style/Phone.scss';
@import 'style/Bridge.scss';
@import 'style/Tablet.scss';
@import 'style/Desktop.scss';
*/