// Color Palette 
$primary: #0C1117;
$secondary: #777777;
$background: #fffcea;

$phone-width: 100px;
$bridge-width: 600px;
$tablet-width: 800px;
$desktop-width: 1010px;

@mixin gradient-background {
  background: #0c1117;
  background: -moz-linear-gradient(top, #0c1117 0%, #0c1117 36%, #18191c 74%, #18191c 100%);
  background: -webkit-linear-gradient(top, #0c1117 0%, #0c1117 36%, #18191c 74%, #18191c 100%);
  background: linear-gradient(to bottom, #0c1117 0%, #0c1117 36%, #18191c 74%, #18191c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1117', endColorstr='#18191c', GradientType=0);
}

@import 'style/App.scss';



/*
@import 'style/Phone.scss';
@import 'style/Bridge.scss';
@import 'style/Tablet.scss';
@import 'style/Desktop.scss';
*/